::ng-deep .mat-grid-tile-content {
    display: block!important;
}

::ng-deep .mat-card {
    background-image: linear-gradient(lightgray, white);
}

.mat-grid-tile {
    margin: 10x!important;
    text-align: center;
}

.header {
    font-size: x-large;
    width: 100%;
    /* text-align: center; */
    padding-bottom: 20px;
}