.header {
    font-size: x-large;
    width: 100%;
}

.mat-divider {
    margin-top: 25px;
    margin-bottom: 15px;
}

table {
    width: 100%;
}

.mat-header-cell {
    padding: 15px;
    font-weight:  bolder;
    font-size: medium;
}

td, tr {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.mat-cell {
    padding: 15px;
    font-size:medium;
}

.Approved {
    color: green;
}

/*.NotApproved {
    color: red;
}

.Disbursed {
    color: green;
} */

.mat-row:nth-child(even){
    background-color: #FAFAFA;
}
        
.mat-row:nth-child(odd){
    background-color: #EEEEEE;
}

.mat-header-cell {
    background: #9E9E9E;
    color: white;
}

.mat-header-row {
    min-height: 10px;
}