<mat-grid-list cols="3" rowHeight="200px" style="margin-top: 50px; height: 450px">
    <mat-grid-tile rowspan="2" colspan="1" class="students-image">
        <div style="width: 450px; height: 450px">
            <img src="assets/students.png" style="width: 100%;
            height: 100%;
            object-fit:contain;
            overflow: hidden"/>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <div style="width: 850px; margin-left: 40%; margin-top: 8%;">
            <div style="height: 65px; margin-bottom: 20px;">
                <a [routerLink]="'studentRegistration'">
                    <button mat-flat-button color="primary" 
                        style="margin-right: 10px; background-color: #ffcc33; color: #261c19; width: 220px">
                            STUDENTS LOGIN</button></a>
            </div>
            <div style="height: 65px; margin-bottom: 20px;">
                <a [routerLink]="'educationDepartmentAssessment'">
                    <button mat-flat-button color="primary" 
                        style="margin-right: 10px; background-color: #ffcc33; color: #261c19; width: 220px">
                            EDU. DEPT. LOGIN</button></a>
            </div>
            <div style="height: 65px; margin-bottom: 20px;">
                <a [routerLink]="'instituteAnalytics'">
                    <button mat-flat-button color="primary" 
                        style="margin-right: 10px; background-color: #ffcc33; color: #261c19; width: 220px">
                            COLLEGE LOGIN</button></a>
            </div>
            <div style="height: 65px; margin-bottom: 20px;">
                <a [routerLink]="'hodDashboard'">
                    <button mat-flat-button color="primary" 
                        style="margin-right: 10px; background-color: #ffcc33; color: #261c19; width: 220px">
                            HOD LOGIN</button></a>
            </div>
            <div style="height: 65px; margin-bottom: 20px;">
                <a [routerLink]="'socialWelfare'">
                    <button mat-flat-button color="primary" 
                        style="margin-right: 10px; background-color: #ffcc33; color: #261c19; width: 220px">
                            SOCIAL WELFARE DEPT. LOGIN</button></a>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>