<div class="stepper-header"><b>STUDENT REGISTRATION</b></div>
<mat-divider></mat-divider>
<mat-stepper linear #stepper (selectionChange)="onChange($event)" style="text-align: center!important; justify-content: center!important;">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel><span class="steplabel">Login using your Aadhaar</span></ng-template>
      <div class="mat-h2">Please provide your aadhaar number to start registration.</div>
      <mat-form-field #aadhaarNumber appearance="fill">
        <mat-label>Aadhaar Number</mat-label>
        <input class="mat-h1" #aadhaarNumber matInput placeholder="____-____-____" formControlName="firstCtrl"
          autofocus>
        <mat-error>Please enter a valid Aadhaar Number</mat-error>
      </mat-form-field>
      <!-- <div [hidden]="!otpSent">OTP is sent to your mobile nuber XXX-XXX-3456</div>
      <div style="margin-top:10px">
        <div [hidden]="!sendingOtp">
          <mat-spinner></mat-spinner>
        </div>
        <div [hidden]="otpSent">
          <button style="background-color: #ffcc33; color: #261c19;" mat-raised-button (click)="sendOtp();"
            [disabled]="!firstFormGroup.valid || timeLeft > 0">
            <span [hidden]="sendingOtp || otpSent">GENERATE OTP</span>
          </button>
        </div>
        <div [hidden]="!otpSent">
          <a [disabled]="timeLeft > 0" mat-button href="#" (click)="sendOtp()">Resend OTP</a>
          <span [hidden]="timeLeft == 0 || !(otpSent || timeLeft > 0)">will be enabled in <span
              class="numberCircle">{{timeLeft}}</span>seconds</span>
        </div>
      </div> -->
    </form>
    <!-- <form [formGroup]="otpFormGroup">
      <div [hidden]="!otpSent">
        <mat-form-field appearance="fill">
          <mat-label>OTP</mat-label>
          <input #secondCtrl matInput placeholder="__ __ __ __ __ __" formControlName="secondCtrl" autocomplete="off">
          <mat-error>Please enter a valid OTP</mat-error>
        </mat-form-field>
        <div [hidden]="verifyingOtp">
          <button style="background-color: #ffcc33; color: #261c19;" mat-button mat-raised-button [disabled]="!otpFormGroup.valid"
            (click)="verifyOtp(stepper)">VERIFY</button>
        </div>
        <div [hidden]="!verifyingOtp">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </form> -->
    <div>
      <button style="background-color: #ffcc33; color: #261c19;" mat-button mat-raised-button [disabled]="!otpFormGroup.valid"
        (click)="verifyOtp(stepper)">PROCEED</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="emisNumberFormGroup" [completed]="eligibleForScholorship">
    <form [formGroup]="emisNumberFormGroup">
      <ng-template matStepLabel><span class="steplabel">Institution details</span></ng-template>
      <table>
        <!-- <tr>
          <td>
            <mat-form-field #aadhaarNumber appearance="fill">
              <mat-label>Aadhaar Number</mat-label>
              <input class="mat-h1" #aadhaarNumber matInput placeholder="____-____-____"
                autofocus>
              <mat-error>Please enter a valid Aadhaar Number</mat-error>
            </mat-form-field>
          </td>
        </tr> -->
        
        <tr>
          <td>
            <div style="text-align: left; margin-left: 15px; margin-top: 15px; margin-bottom: 10px">
              <mat-form-field appearance="fill">
                <mat-label>Education Category</mat-label>
                <mat-select [(value)]="selectedEducationCategory">
                  <mat-select-trigger>
                    {{selectedEducationCategory}}
                  </mat-select-trigger>
                  <mat-option value="Medicine">Medicine</mat-option>
                  <mat-option value="Engineering">Engineering</mat-option>
                  <mat-option value="Arts & Sciences">Arts & Sciences</mat-option>
                  <mat-option value="Polytechnic">Polytechnic</mat-option>
                  <mat-option value="ITI">ITI</mat-option>
                  <mat-option value="Law">Law</mat-option>
                  <mat-option value="Agriculture">Agriculture</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
          <td>
            <div [hidden]="selectedEducationCategory == 'Polytechnic' || !selectedEducationCategory">
              <mat-form-field appearance="fill">
                <mat-label [hidden]="selectedEducationCategory != 'ITI'">Roll Number (10th)</mat-label>
                <mat-label [hidden]="selectedEducationCategory == 'ITI'">Roll Number (12th)</mat-label>
                <input matInput autocomplete="off" >
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align: left; margin-top: 10px; margin-bottom: 10px">
              <label class="example-margin" style="margin-right: 15px;">EMIS Number available:</label>
              <mat-radio-group formControlName="emisNumberAvailable">
                <mat-radio-button style="margin-right: 15px" class="example-margin" value="yes">Yes</mat-radio-button>
                <mat-radio-button class="example-margin" value="no">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </td>
          <td>
            <div>
              <div [hidden]="emisNumberFormGroup.controls['emisNumberAvailable'].value != 'yes'">
                <mat-form-field appearance="fill" >
                  <mat-label>EMIS Number</mat-label>
                  <input matInput formControlName="emisNumberCtrl" autocomplete="off" >
                  <mat-error>Please enter a valid EMIS Number</mat-error>
                </mat-form-field>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding: 15px;">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="mobileNumber" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Father's/mother's/Guardians name</mat-label>
                <input matInput formControlName="mobileNumber" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input matInput mask="0000000000" formControlName="mobileNumber" autocomplete="off">
                <mat-error>Please enter a valid mobile number</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>College District</mat-label>
                <mat-select [formControl]="typeOfCollege" [(value)]="selectedTypeOfCollege">
                  <mat-select-trigger>
                    {{typeOfCollege.value}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let typeOfCollege of districts  " [value]="typeOfCollege">{{typeOfCollege}}
                  </mat-option>
                </mat-select>
                <mat-error>Please select the type of your college</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Course</mat-label>
                <input matInput formControlName="course" autocomplete="off">
                <mat-error>Please enter a valid year</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Joining year</mat-label>
                <input matInput formControlName="emailId" autocomplete="off"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <mat-error>Please enter a email id</mat-error>
              </mat-form-field>
            </div>
            <!-- <div style="text-align: left; margin-top: 65px; margin-bottom: 35px">
              <label class="example-margin" style="margin-right: 15px;">Marital status:</label>
              <mat-radio-group>
                <mat-radio-button style="margin-right: 15px" class="example-margin" value="after">Married</mat-radio-button>
                <mat-radio-button class="example-margin" value="before">Unmarried</mat-radio-button>
              </mat-radio-group>
            </div> -->
          </td>
          <td>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Date of birth</mat-label>
                <input matInput formControlName="mobileNumber" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Community</mat-label>
                <mat-select [(value)]="selectedCommunity">
                  <mat-select-trigger>
                    {{selectedCommunity}}
                  </mat-select-trigger>
                  <mat-option value="BC">BC</mat-option>
                  <mat-option value="MBC">MBC</mat-option>
                  <mat-option value="SC">SC</mat-option>
                  <mat-option value="ST">ST</mat-option>
                  <mat-option value="OC">OC</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Email ID</mat-label>
                <input matInput formControlName="emailId" autocomplete="off"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <mat-error>Please enter a email id</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>College</mat-label>
                <mat-select [formControl]="institution" [(value)]="selectedInstitution">
                  <mat-select-trigger>
                    {{institution.value}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let institution of institutions" [value]="institution">{{institution}}
                  </mat-option>
                </mat-select>
                <mat-error>Please select your college</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Course tenure</mat-label>
                <input matInput formControlName="courseTenure" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>College Roll Number</mat-label>
                <input matInput formControlName="emailId" autocomplete="off"
                  >
                <mat-error>Please enter a email id</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field appearance="fill">
              <mat-label>Other Scholarship received</mat-label>
              <mat-select [(value)]="selectedOtherScholarship">
                <mat-select-trigger>
                  {{selectedOtherScholarship}}
                </mat-select-trigger>
                <mat-option value="Moovalur Ramamritham Higher Education Assurance Scheme">Moovalur Ramamritham Higher Education Assurance Scheme</mat-option>
                <mat-option value="Fee Waiver for Govt School students (7.5%)">Fee Waiver for Govt School students (7.5%)</mat-option>
                <mat-option value="Post Matric for First Graduate Students">Post Matric for First Graduate Students</mat-option>
                <mat-option value="Incentive Scheme for PhD students">Incentive Scheme for PhD students</mat-option>
                <mat-option value="Post Matric Scholarship Colleges">Post Matric Scholarship Colleges</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div style="justify-content:center"><button style="background-color: #ffcc33; color: #261c19;" mat-button mat-raised-button
          (click)="checkEligibility(stepper)">PROCEED TO SCHOOL DETAILS</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="studentSchoolFormGroup">
    <ng-template matStepLabel><span class="steplabel">School Info</span></ng-template>
    <form [formGroup]="studentSchoolFormGroup">
      <div class="student-info-table-container">
        <!-- <section class="example-section" style="margin: 15px">
          <mat-radio-group name="depttype">
            RTE enrolled:
            <mat-radio-button class="example-margin" [value]="'yes'">Yes</mat-radio-button>
            <mat-radio-button class="example-margin" [value]="'no'">No</mat-radio-button>
        </mat-radio-group>
        </section> -->
        <table mat-table [dataSource]="schoolInfo" class="mat-elevation-z2">
          <ng-container matColumnDef="Year">
            <th mat-header-cell *matHeaderCellDef>
              Standard
            </th>
            <td mat-cell *matCellDef="let row">
              {{row.standard}}
            </td>
          </ng-container>
          <ng-container matColumnDef="District">
            <th mat-header-cell *matHeaderCellDef>
              District
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field class="yearDropDown" appearance="fill">
                <mat-label>District</mat-label>
                <mat-select [formControl]="district" [(value)]="selectedDistrict">
                  <mat-select-trigger>
                    {{district.value}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let district of districts" [value]="district">{{district}}</mat-option>
                </mat-select>
                <mat-error>Please select the district of your college</mat-error>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="School" >
            <th mat-header-cell *matHeaderCellDef>
              School
            </th>
            <td mat-cell *matCellDef="let row" >
              <mat-form-field appearance="fill">
                <mat-label>School</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="Year of passing">
            <th mat-header-cell *matHeaderCellDef>
              Year of passing
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field appearance="fill" style="width:140px">
                <mat-label>Year of passing</mat-label>
                <input matInput style="width:15px">
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="Same as above">
            <th mat-header-cell *matHeaderCellDef>
              As above
            </th>
            <td mat-cell *matCellDef="let row">
              <div [hidden]="row.standard == '6th'">
                <mat-checkbox class="example-margin"></mat-checkbox></div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="schoolInfoDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: schoolInfoDisplayedColumns;"></tr>
        </table>
      </div>
      <button style="background-color: #ffcc33; color: #261c19;margin: 15px;" mat-button mat-raised-button matStepperNext>PROCEED TO BANK DETAILS</button>
    </form>
  </mat-step>
  <!-- <mat-step>
    <table>
      <tr>
          <td>
              <div>
                  <mat-form-field appearance="fill">
                      <mat-label>Hall Ticket</mat-label>
                      <input id="ifscCode" autofocus matInput formControlName="firstCtrl" mask="SSSS0000000">
                      <mat-icon matSuffix>
                          attach_file
                      </mat-icon>
                  </mat-form-field>
              </div>
              <div>
                  <mat-form-field appearance="fill">
                      <mat-label>Income Certificate</mat-label>
                      <input id="ifscCode" autofocus matInput formControlName="firstCtrl" mask="SSSS0000000">
                      <mat-icon matSuffix>
                          attach_file
                      </mat-icon>
                  </mat-form-field>
              </div>
              <div>
                  <mat-form-field appearance="fill">
                      <mat-label>Community Certificate</mat-label>
                      <input id="ifscCode" autofocus matInput formControlName="firstCtrl" mask="SSSS0000000">
                      <mat-icon matSuffix>
                          attach_file
                      </mat-icon>
                  </mat-form-field>
              </div>
          </td>
          <td>
              <div>
                  <mat-form-field appearance="fill">
                      <mat-label>Disability Certificate</mat-label>
                      <input id="ifscCode" autofocus matInput formControlName="firstCtrl" mask="SSSS0000000">
                      <mat-icon matSuffix>
                          attach_file
                      </mat-icon>
                  </mat-form-field>
              </div>
              <div>
                  <mat-form-field appearance="fill">
                      <mat-label>PSTM Certificate</mat-label>
                      <input id="ifscCode" autofocus matInput formControlName="firstCtrl" mask="SSSS0000000">
                      <mat-icon matSuffix>
                          attach_file
                      </mat-icon>
                  </mat-form-field>
              </div>
              <div>
                  <mat-form-field appearance="fill">
                      <mat-label>First Graduate Certificate</mat-label>
                      <input id="ifscCode" autofocus matInput mask="SSSS0000000">
                      <mat-icon matSuffix>
                          attach_file
                      </mat-icon>
                  </mat-form-field>
                </div>
          </td>
      </tr>
  </table>
  <button style="background-color: #ffcc33; color: #261c19;margin: 15px;" mat-button mat-raised-button matStepperNext>PROCEED TO BANK DETAILS</button>
  </mat-step> -->
  <mat-step [stepControl]="thirdFormGroup">
    <div class="mat-h2">Please provide your bank details to enroll you for scholarship.</div>
    <table>
      <tr>
        <td style="padding-right: 15px;">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel><span class="steplabel">Provide bank details</span></ng-template>
            <div [attr.disabled]="true">
              <mat-form-field appearance="fill">
                <mat-label>Bank Name</mat-label>
                <input matInput readonly [value]="bankName">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>IFSC Code</mat-label>
                <input id="ifscCode" autofocus matInput formControlName="firstCtrl" mask="SSSS0000000"
                  >
                <mat-icon matSuffix (click)="fetchIfscInfo();forthFormDirective.resetForm();forthFormGroup.reset();">
                  search
                </mat-icon>
                <mat-error>Please enter a valid IFSC code</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Account number</mat-label>
                <input #accountNumber matInput formControlName="thirdCtrl" type="password" mask="AAAAAAAAAA999999"
                  [readonly]="bankName == ''">
                <mat-error>Please enter a valid Account number</mat-error>
              </mat-form-field>
            </div>
            
          </form>
        </td>
        <td style="padding-right: 15px;">
          <form [formGroup]="forthFormGroup" #forthFormDirective="ngForm">
            <div>
              <div [attr.disabled]="true">
                <mat-form-field appearance="fill">
                  <mat-label>Branch</mat-label>
                  <input matInput readonly [value]="bankName">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Account Holder's Name</mat-label>
                  <input matInput formControlName="fifthCtrl" [readonly]="bankName == ''">
                  <mat-error>Please enter account holder's name</mat-error>
                </mat-form-field>    
              </div> 
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Re-enter account number</mat-label>
                  <input #reenterAccountNumber matInput formControlName="forthCtrl" mask="AAAAAAAAAA999999"
                    [readonly]="bankName == ''">
                  <mat-error
                    *ngIf="forthFormGroup.get('forthCtrl')?.errors && !forthFormGroup.get('forthCtrl')?.hasError('notEqualError')">
                    Please enter a valid Account number</mat-error>
                  <mat-error *ngIf="forthFormGroup.get('forthCtrl')?.hasError('notEqualError')">Account Number not
                    matching
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td style="padding-right: 15px;">
          
        </td>
      </tr>
    </table>
    <div style="text-align: center; margin-top: 35px; margin-bottom: 35px">
      <mat-checkbox class="example-margin" >
        I hereby declare that all the information furnished above is true, complete and correct to the best of my knowledge
      </mat-checkbox>
    </div>
    <div [hidden]="savingBankDetails">
      <button style="background-color: #228B22; color: #fff;" mat-button mat-raised-button (click)="saveBankDetails(stepper)">SUBMIT</button>
    </div>
    <div [hidden]="!savingBankDetails" style="margin-top:20px">
      <mat-spinner></mat-spinner>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel><span class="steplabel">Done</span></ng-template>
    <div class="done">
      <p><span>Dear Selvi Thamizh Mozhi,</span></p>
      <p>Thank you for registering with your details!</p>
      <p>We will inform you by SMS (99999 12345) after the verification from the school education department.</p>
      <button style="background-color: #FF0000; color: #fff;" mat-button mat-raised-button (click)="logout(stepper)">Logout</button>
    </div>
  </mat-step>
</mat-stepper>