<!-- <img src="assets/landing-page-plain.jpeg" (click)="navigateToLogin()" style="margin-top: -215px; cursor: pointer;"/> -->
<mat-grid-list cols="3" rowHeight="200px" style="margin-top: 50px; height: 400px">
    <mat-grid-tile rowspan="2" colspan="1" class="students-image">
        <div style="width: 450px; height: 450px">
            <img src="assets/students.png" style="width: 100%;
            height: 100%;
            object-fit:contain;
            overflow: hidden"/>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <div style="width: 850px; margin-left: 50px;">
            <!-- <div style="display: flex;
            align-items: center;
            justify-content: center; margin-bottom: 20px;">
                <p align=center style="margin-right: 10px; width: 650px; font-size: 25px; font-weight: bold;">Welcome to Integrated scholarship portal</p>
            </div> -->
            <div style="display: flex;
            align-items: center;
            justify-content: center; margin-bottom: 20px;">
                <p align=center style="margin-right: 10px; width: 650px; font-size: 18px; font-weight: bold;">Please select the scholorship program to proceed.</p>
            </div>
            <!-- <div style="display: flex;
            align-items: center;
            justify-content: center;">
                <p align=justify style="width: 650px; font-size: 22px; line-height: 1.2;">Tamil Nadu Government has launched Moovalur Ramamirtham Ammaiyar Higher Education Assurance Scheme 2022 aimed at
                increasing the enrollment rate of girl students from government schools in higher education. Under this scheme,
                the state government will provide monthly scholarship of Rs. 1000 each to girl students from government schools.
                This amount will be given until girls completes their undergraduate, diploma, and ITI courses.</p>
            </div> -->
            <div style="display: flex;
            align-items: center;
            justify-content: center; margin-top: 20px;">
                <mat-radio-group name="depttype" style="font-size: 20px">
                    <div style="margin: 10px"><mat-radio-button class="example-margin" [value]="'CEO'">Moovalur Ramamritham Higher Education Assurance Scheme</mat-radio-button></div>
                    <div style="margin: 10px"><mat-radio-button class="example-margin" [value]="'DEAN'">Fee Waiver for Govt School students (7.5%)</mat-radio-button></div>
                    <div style="margin: 10px"><mat-radio-button class="example-margin" [value]="'DEAN'">Post Matric for First Graduate Students</mat-radio-button></div>
                    <div style="margin: 10px"><mat-radio-button class="example-margin" [value]="'DEAN'">Incentive Scheme for PhD students</mat-radio-button></div>
                    <div style="margin: 10px"><mat-radio-button class="example-margin" [value]="'DEAN'">Post Matric Scholarship Colleges</mat-radio-button></div>
                </mat-radio-group>
            </div>
            
            <div style="display: flex;
            align-items: center;
            justify-content: center; margin-top: 20px;">
                <button (click)="navigateToLogin()" mat-flat-button color="primary" style="margin-right: 10px; background-color: #ffcc33; color: #261c19; width: 200px">LOGIN</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
