<div class="header">
    <b>EDU.DEPT - SCHOOLING</b>
    <!-- <mat-icon aria-hidden="false" matTooltip="Logout" aria-label="Logout" (click)="logout()" style="margin-right:10px;float: right; color: red">logout</mat-icon> -->
    <mat-icon aria-hidden="false" matTooltip="Back" aria-label="Back" [routerLink]="'/educationDepartmentAssessment'"
        style="margin-right:10px;float: right;">arrow_back</mat-icon>
    <!-- <mat-icon aria-hidden="false" matTooltip="Download as CSV" aria-label="Download as CSV"
        style="margin-right:10px;float: right;">download</mat-icon> -->
    <!-- <mat-icon aria-hidden="false" matTooltip="Filter list" aria-label="Filter list" (click)="toggleFilter()" style="margin-right:10px;float: right;">filter_alt</mat-icon> -->
    <!-- <button mat-flat-button color="primary" style="float:right;margin-left:10px;margin-right:10px; background-color: #ffcc33; color: #261c19; width: 200px">APPROVE SELECTED</button> -->
    <!-- <button mat-flat-button color="primary" style="float:right; background-color: #ffcc33; color: #261c19; width: 220px">APPROVE ALL PENDING (24)</button> -->
</div>
<mat-divider></mat-divider>

<!-- <div class="mat-h1">Government Arts College, Tiruchirappalli</div> -->
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
<div>
    <mat-form-field appearance="fill">
        <mat-label>District</mat-label>
        <mat-select>
            <mat-option *ngFor="let district of districts" [value]="district">{{district}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>College</mat-label>
        <mat-select>
            <mat-option *ngFor="let institution of institutions" [value]="institution">{{institution}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div style="text-align: center">
    <button style="background-color: #ffcc33; color: #261c19; padding-right: 10px; margin-right: 15px;" mat-button mat-raised-button>ACTIVATE</button>
    <button style="background-color: #ffcc33; color: #261c19; padding-left: 10px;" mat-button mat-raised-button>DEACTIVATE</button>
</div>