<div class="stepper-header"><b>GRIEVANCE</b></div>
<mat-divider></mat-divider>
<div style="justify-content:center; text-align: center;">
    <textarea matInput 
        placeholder="Please provide a description of your grievance" 
        style="width: 500px; height: 200px; border-style:solid; border-width:medium;"
        ></textarea>
    <div style="margin-bottom: 10px;">300 words remaining</div>
    <div>
        <button style="background-color: #ffcc33; color: #261c19;" mat-button mat-raised-button>UPLOAD DOCUMENT</button>
        <button style="margin-left: 15px; background-color: #ffcc33; color: #261c19;" mat-button mat-raised-button>SUBMIT</button>
        <button style="margin-left: 15px; background-color: #ffcc33; color: #261c19;" mat-button mat-raised-button (click)="gotoProfileHome()">BACK</button>
    </div>
</div>