<div class="header">
    <b>DEPT. MODULE</b>
</div>
<mat-divider></mat-divider>
<mat-card class="example-card" style="margin: 25px">
    <!-- <mat-card-header> -->
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <div  style="text-align:center;padding-bottom: 15px;"><mat-card-title>ATTENDENCE APPROVAL STATUS</mat-card-title></div>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <!-- </mat-card-header> -->
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <div style="font-size: 25px; margin-bottom: 15px; width: 800px">
            <mat-grid-list cols="3" style="margin-top: 5px;" rowHeight="10rem">
                <mat-grid-tile>
                    <div style="font-size:25px; padding:15px; font-weight: bold;">2000</div>
                    <div
                        style="font-size:25px; margin:15px; font-weight: bold;padding: 25px; background-color: black;color: red">
                        PENDING</div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="font-size:25px; padding:15px; font-weight: bold;">3023</div>
                    <div
                        style="font-size:25px; margin:15px; font-weight: bold;padding: 25px; background-color: black;color: orange">
                        APPROVED</div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="font-size:25px; padding:15px; font-weight: bold;">1231</div>
                    <div
                        style="font-size:25px; margin:15px; font-weight: bold;padding: 25px; background-color: black;color: green">
                        DISBURSED</div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
<div style="text-align:center; margin: 30px;">
    <button mat-flat-button color="primary" style="margin-right: 10px" (click)="navigateToDisbursement()">DISBURSE PAYMENT</button>
    <button mat-flat-button color="primary" style="margin-right: 10px">SCHOOL INSPECTION</button>
    <button mat-flat-button color="primary" style="margin-right: 10px">SCHOOL CRED CHECK</button>
</div>