<div class="header">
    <b>Welcome Tamizh Mozhi</b>
</div>
<mat-divider></mat-divider>
<div style="text-align: center;">
    <div style="margin: 15px;"><button style="width: 150px;" mat-flat-button color="primary" (click)="updateProfile()">PROFILE</button></div>
    <div style="margin: 15px;"><button style="width: 150px;" mat-flat-button color="primary" (click)="updateBankDetails()">BANK DETAILS</button><div>
    <div style="margin: 15px;"><button style="width: 150px;" mat-flat-button color="primary" (click)="showDisbursement()">DISBURSEMENTS</button></div>
    <div style="margin: 15px;"><button style="width: 150px;" mat-flat-button color="primary" (click)="showStudentDocuments()">DOCUMENTS</button></div>
</div>
