<div class="header">
    <b>Welcome Tamizh Mozhi</b>
</div>
<mat-divider></mat-divider>
<div style="text-align: center;">
    <div style="margin: 15px;">
        <button 
            style="width: 150px; background-color: #ffcc33; color: #261c19;" mat-flat-button (click)="updateProfile()">
                PROFILE</button></div>
    <div style="margin: 15px;">
        <button 
            style="width: 150px; background-color: #ffcc33; color: #261c19;" mat-flat-button (click)="updateBankDetails()">
                BANK DETAILS</button><div>
    <div style="margin: 15px;">
        <button 
            style="width: 150px; background-color: #ffcc33; color: #261c19;" mat-flat-button (click)="showDisbursement()">
                DISBURSEMENTS</button></div>
    <!-- <div style="margin: 15px;">
        <button 
            style="width: 150px; background-color: #ffcc33; color: #261c19;" mat-flat-button (click)="showStudentDocuments()">
                DOCUMENTS</button></div> -->
    <div style="margin: 15px;">
        <button 
            style="width: 150px; background-color: #ffcc33; color: #261c19;" mat-flat-button (click)="showGrievance()">
                GRIEVANCE</button></div>
    <div style="margin: 15px;">
        <button 
            style="width: 150px; background-color: #FF0000; color: #ffffff;" mat-flat-button (click)="logout()">
                LOGOUT</button></div>
</div>
