<div class="Row">
    <div class="Column">
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [routerLink]="'studentRegistration'"
            >
        <button mat-button color="primary" class="mat-h1">Student Registration</button>
        </div>
    </div>
    <div class="Column">
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [routerLink]="'instituteAdmin'"
            >
            <button mat-button color="primary" class="mat-h1">Institue Admin</button>
        </div>
    </div>
    <div class="Column">
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [routerLink]="'educationDepartment'"
            >
            <button mat-button color="primary" class="mat-h1">Education Department</button>
    </div>
</div>