<div class="stepper-header"><b>Students Registration</b></div>
<mat-divider></mat-divider>
<mat-stepper linear #stepper (selectionChange)="onChange($event)">
    <mat-step [stepControl]="firstFormGroup" [completed]="eligibleForScholorship">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span class="steplabel">Login using your Aadhaar</span></ng-template>
        <mat-form-field #aadhaarNumber appearance="fill">
          <mat-label>Aadhaar Number</mat-label>
          <input 
            class="mat-h1" 
            #aadhaarNumber 
            matInput 
            placeholder="____-____-____-____" 
            formControlName="firstCtrl" 
            mask="0000-0000-0000-0000" 
            autofocus
            required>
          <mat-error>Please enter a valid Aadhaar Number</mat-error>
        </mat-form-field>
        <div [hidden]="!otpSent">OTP is sent to your mobile nuber XXX-XXX-3456</div>
        <div style="margin-top:10px">
            <div [hidden]="!sendingOtp"><mat-spinner></mat-spinner></div>
            <div [hidden]="otpSent">
                <button mat-raised-button color="primary" (click)="sendOtp();" [disabled]="!firstFormGroup.valid || timeLeft > 0">
                    <span [hidden]="sendingOtp || otpSent">Send OTP</span>
                </button>
            </div>
            <div [hidden]="!otpSent">
                <a [disabled]="timeLeft > 0" mat-button href="#" (click)="sendOtp()">Resend OTP</a>
                <span [hidden]="timeLeft == 0 || !(otpSent || timeLeft > 0)">will be enabled in <span class="numberCircle">{{timeLeft}}</span>seconds</span>
            </div>
        </div>
    </form>
    <form [formGroup]="otpFormGroup">
        <div [hidden]="!otpSent">
        <mat-form-field appearance="fill">
            <mat-label>OTP</mat-label>
            <input 
                #secondCtrl
                matInput 
                placeholder="__ __ __ __ __ __" 
                formControlName="secondCtrl" 
                mask="000000" 
                required autocomplete="off" 
                >
                <mat-error>Please enter a valid OTP</mat-error>
        </mat-form-field>
        <div [hidden]="verifyingOtp">
            <button 
                mat-button mat-raised-button 
                color="primary" 
                [disabled]="!otpFormGroup.valid"
                (click)="verifyOtp(stepper)"
                >Verify OTP</button>
        </div>
        <div [hidden]="!verifyingOtp"><mat-spinner></mat-spinner></div>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="steplabel">Validate your institution</span></ng-template>
        <div class="mat-h2">
            <p></p>
            <p></p>
            <p></p>
            <p>Welcome Selvi <b><u>Thamizh Mozhi! </u></b></p>

            <p style="color:green"><b><u>You are eligible for the Scholarship!</u></b></p>

            <p class="mat-h3">As per our records, your are currently studying at </p>
            
            <p class="mat-h1" style="color:orange">Government Arts College, Tiruchirappalli. </p>

            <p class="mat-h3"> If incorrect, please contact your institution administrator to correct your details before enrolling.</p>

        </div>
        <div>
          <button mat-button mat-raised-button matStepperNext color="primary">Proceed to enroll</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <div class="mat-h2">We will require your bank details to enroll you for scholarship.</div>
      <form [formGroup]="thirdFormGroup" >
        <ng-template matStepLabel><span class="steplabel">Provide bank details</span></ng-template>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>IFSC Code</mat-label>
                <input
                    id="ifscCode"
                    autofocus 
                    matInput 
                    formControlName="firstCtrl" 
                    required 
                    mask="SSSS0000000" 
                    (focusout)="fetchIfscInfo()">
                <mat-icon matSuffix (click)="fetchIfscInfo();forthFormDirective.resetForm();forthFormGroup.reset();">search</mat-icon>
                <mat-error>Please enter a valid IFSC code</mat-error>
            </mat-form-field>
        </div>
      </form>
      <form [formGroup]="forthFormGroup" #forthFormDirective="ngForm">
        <div [hidden]="!ifscFetching"><mat-spinner></mat-spinner></div>
        <div>
            <div [attr.disabled]="true">
                <mat-form-field appearance="fill">
                <mat-label>Bank Name</mat-label>
                <input matInput readonly [value]="bankName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" >
                    <mat-label>Account number</mat-label>
                    <input 
                        #accountNumber 
                        matInput 
                        formControlName="thirdCtrl" 
                        type="password" 
                        mask="AAAAAAAAAA999999" 
                        [readonly]="bankName == ''"
                        required>
                    <mat-error>Please enter a valid Account number</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Re-enter account number</mat-label>
                    <input 
                        #reenterAccountNumber
                        matInput 
                        formControlName="forthCtrl" 
                        mask="AAAAAAAAAA999999" 
                        [readonly]="bankName == ''"
                        required>
                    <mat-error *ngIf="forthFormGroup.get('forthCtrl')?.errors && !forthFormGroup.get('forthCtrl')?.hasError('notEqualError')">Please enter a valid Account number</mat-error>
                    <mat-error *ngIf="forthFormGroup.get('forthCtrl')?.hasError('notEqualError')">Account Number not matching</mat-error>
                </mat-form-field>
                
            </div>
            <div>
                <mat-form-field appearance="fill">
                <mat-label>Account Name</mat-label>
                <input 
                    matInput 
                    formControlName="fifthCtrl" 
                    [readonly]="bankName == ''"
                    required>
                <mat-error>Please enter account name</mat-error>
                </mat-form-field>
                
            </div>
            <div [hidden]="savingBankDetails">
                <button 
                    mat-button 
                    mat-raised-button color="primary" 
                    (click)="saveBankDetails(stepper)" 
                     >Save</button>
            </div>
            <div [hidden]="!savingBankDetails" style="margin-top:20px"><mat-spinner></mat-spinner></div>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="steplabel">Done</span></ng-template>
        <div class="done">
            <p><span style="color:green"><b>Dear Selvi Thamizh Mozhi, thank you for enrolling!</b></span></p>
            <p>You have successfully enrolled into the scheme as on 30th March, 2022.</p>
            <p>Please reach out to your institution administrator for any further assistance or queries!</p>
            <p>You may logout or close the browser!</p>
            <button mat-button mat-raised-button color="primary" (click)="logout(stepper)">Logout</button>
        </div>
    </mat-step>
  </mat-stepper>